configuration {
  show-icons: true;
  drun-display-format: "{icon}  {name}";
}

* {
  font: "JetBrainsMono Nerd Font 14";
  background:     #1e1e2e;
  background-alt: #2e2e3e;
  foreground:     #d2d2d0;

  selected:       #89b4fa;
  active:         #a6e3a1;
  urgent:         #f38ba8;

  border-color:   #89b4fa;
  border:         0px;          // Remove inner borders
  border-radius:  12px;
  padding:        0px;          // Remove inner padding
  spacing:        10px;
  outline:        none;
}

window {
  background-color: @background;
  border: 2px;
  border-color: @border-color;
  border-radius: 12px;
}

mainbox {
  background-color: @background;
  border-radius: inherit;
  padding: 5px;
}

listview {
  background-color: @background;
  lines: 8;
  columns: 1;
  fixed-height: true;
  spacing: 6px;
}

element {
  background-color: transparent;
  border-radius: 8px;
  padding: 6px 12px;
  text-color: #DDEDEE;
}

element selected {
  background-color: @selected;
  text-color: #1e1e2e;
}

element-text,
element selected element-text {
  background-color: transparent;
  text-color: inherit;
}

element-icon,
element selected element-icon {
  background-color: transparent;
  text-color: inherit;
}

inputbar {
  children: [prompt, entry];
  background-color: #313244;
  border-radius: 8px;
  padding: 10px;
}

prompt {
  margin: 0 8px 0 0;
  text-color: #cba6f7;
  background-color: transparent;
}

entry {
  text-color: @foreground;
  background-color: transparent;
}

